.section-content {
    min-height: 600px;
}

#header-copy {
    background-color: $lightGray;
    box-sizing: border-box;
    padding: $boxModel;
    .content-column {
        @include flexModel();
        text-align: center;
        box-sizing: border-box;
        padding: $boxModel * 2;
    }
    footer {
        max-width: 600px;
        margin: auto;
    }
    [class*="title-a"] {
        line-height: 1;
        display: block;
    }
    .title-a-1 {
        font-size: 100%;
    }
    .title-a-2 {
        font-size: 145%;
    }
    .title-a-3 {
        font-size: 130%;
    }
    [class*="title-b"] {
        display: block;
    }
    .title-b-1 {

    }
    .title-b-2 {
        font-size: 78%;
    }
}

.slider-historias {
    margin-bottom: $boxModel * 4;
}
.slider-historias-nav,
.slider-historias-nav-rel {
    .slide {
        transform: skew(-8deg);
        transform-origin: bottom;
        overflow: hidden;
        > * {
            
        }

        // clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
        // margin: $boxModel / 2;
        // &:first-child {
        //     margin-left: 0;
        // }
        // &:nth-child(3) {
        //     margin-right: 0;
        // }
        .content {
            position: relative;
            height: 800px;
            z-index: 0;
            @include flexModel( bottom, center )
            .bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: {
                    size: cover;
                    position: center;
                }
                transform: scale(1.3) skew(8deg);
            }
            .excerpt {
                position: relative;
                width: 100%;
                .top {
                    box-sizing: border-box;
                    padding: $boxModel;
                    color: $white;
                    * {
                        margin: 0;
                        line-height: 1;
                    }
                    .nombre {
                        transform: skew(8deg);
                    }
                    .ciudad {
                        transform: skew(8deg);
                    }
                }
                .permalink {
                    text-align: right;
                    transform: skew(8deg);
                }
            }
        }
    }
}


.slider-historias-content {
    margin-top: $boxModel * 2;
}

.video-thumbnail {
    color: $white;
    height: 600px;
    width: 100%;
    position: relative;
    background: {
        size: cover;
        position: center;
    }
    display: flex !important;
    @include flexModel();
    .icon-play {
        @include flexModel();
        display: inline-flex;
        margin: {
            left: $boxModel;
            right: $boxModel;
        }
        width: $boxModel * 3;
        height: $boxModel * 3;
        border: {
            style: solid;
            width: 2px;
            radius: $boxModel * 2;
        }
        .fa {
            font-size: 22px;
        }
    }
}

#section-content {
    background-color: $blue;
    color: $white;
    box-sizing: border-box;
    padding: $boxModel;
    .content-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &.content-column-left {
            align-items: flex-end;
        }
        &.content-column-center {
        
        }
        &.content-column-right {
            
        }
    }
}

#section-quote {
    box-sizing: border-box;
    padding: $boxModel;
    @include flexModel();
    .quote {
        @extend .ui-title-big;
        text-align: center;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
}

blockquote {
    @extend .ui-title-extra-big;
    line-height: 1;
    display: flex;
    &:before,
    &:after {
        content: url('assets/img/quote.png');
    }
    p {
        margin: 0;
    }
}