/**
 * 
 * Color
 * 
 */
.ui-text-main { color: $mainColor; }
.ui-text-main-important { color: $mainColor !important; }

.ui-text-secondary { color: $secondaryColor; }
.ui-text-secondary-important { color: $secondaryColor !important; }

.ui-text-black, .ui-text-dark { color: $black; }
.ui-text-black-important, .ui-text-dark-important { color: $black !important; }

.ui-text-red { color: $red; }
.ui-text-red-important { color: $red !important; }

.ui-text-blue { color: $blue; }
.ui-text-blue-important { color: $blue !important; }

.ui-text-gold, .ui-text-yellow { color: $yellow; }
.ui-text-gold-important, .ui-text-yellow-important { color: $yellow !important; }

.ui-text-white { color: $white; }
.ui-text-white-important { color: $white !important; }

.ui-text-black, .ui-text-dark { color: $black; }
.ui-text-black-important, .ui-text-dark-important { color: $black !important; }


/**
 * 
 * Estílo
 * 
 */

.ui-text-light, .ui-text-100 { font-weight: 100; }
.ui-text-light-important, .ui-text-100-important { font-weight: 100 !important; }

.ui-text-200 { font-weight: 200; }
.ui-text-200-important { font-weight: 200 !important; }

.ui-text-300 { font-weight: 300; }
.ui-text-300-important { font-weight: 300 !important; }

.ui-text-regular, .ui-text-400 { font-weight: 400; }
.ui-text-regular-important, .ui-text-400-important { font-weight: 400 !important; }

.ui-text-500 { font-weight: 500; }
.ui-text-500-important { font-weight: 500 !important; }

.ui-text-600 { font-weight: 600; }
.ui-text-600-important { font-weight: 600 !important; }

.ui-text-700 { font-weight: 700; }
.ui-text-700-important { font-weight: 700 !important; }

.ui-text-bold, .ui-text-800 { font-weight: 800; }
.ui-text-bold-important, .ui-text-800-important { font-weight: 800 !important; }

.ui-text-900 { font-weight: 900; }
.ui-text-900-important { font-weight: 900 !important; }


.ui-text-uppercase { text-transform: uppercase; }
.ui-text-uppercase-important { text-transform: uppercase !important; }

.ui-text-underline { text-decoration: underline; }
.ui-text-underline-important { text-decoration: underline !important; }

.ui-align-center { display: block; margin: auto; }
.ui-align-center-important { display: block !important; margin: auto !important; }
