
#main-header {
	box-sizing: border-box;
	padding: {
		top: $boxModel;
		bottom: $boxModel;
		left: $boxModel;
		right: $boxModel;
	}
	[class*="content-column"] {
			display: flex;
			align-items: center;
	}
	.content-column-right {
		justify-content: flex-end;
		@media #{$onlyMobile} {
			justify-content: center;
			padding: {
				top: $boxModel;
				bottom: $boxModel;
			}
		}
	}
	.logo {
		display: inline-block;
	}
	#logo-bancoppel img {
		width: 100%;
		max-width: 400px;
	}
}